/* loadletter 4chan X v2*/
/* Compatibility fixes for different 4chan X forks */
/* Some functionality of OneeChan might not work with this fork */
:root.left-sidebar body {
  padding-left: 303px !important;
}
:root.right-sidebar body {
  padding-right: 303px !important;
}
#qr input[type=submit] {
  height: 24px!important;
}
.captcha-input.field {
  width:300px;
}
#qr:not(.has-captcha) textarea {
  min-height: 115px!important;
}
.riceCheck {
  margin: 7px 3px 0 4px !important;
}
#navlinks {
  top: 135px !important;
}
.boardBanner {
  top: auto;
}