/* MayhemYDG 4chan X v3*/
/* Compatibility fixes for different 4chan X forks */
/* Header */
#header-bar {
  padding: 3px 4px 3px !important;
}
#header-bar a:not(.entry) {
  padding: 2px;
}
:root.top-header .is_index {
  margin-bottom: 3em;
}
:root.bottom-header .is_index {
  margin-bottom: 5em;
}
:root:not(.fixed).left-sidebar #header-bar {
  left: 0;
}
:root:not(.fixed).right-sidebar #header-bar {
  right: 0;
}
:root.bottom-header:not(.autohide) #mascot img,
:root.bottom-header:not(.autohide) #mascotprev img {
  padding-bottom: 26px !important;
}
/* Navigation */
#navlinks {
  top: 135px;
}
.backlink-container {
  padding-right: 10px;
}
/* Replies */
.inline {
  min-width: 340px;
}
:root.backlink-bottom .post {
  padding-bottom: 2px;
}
:root.backlink-bottom .backlink-container {
  position: absolute;
  bottom: 2px;
  right: 6px;
}
/* Menu */
:root.reply-fit-width .post .menu-button {
  position: absolute;
  left: inherit;
  right: 6px;
}
:root.info-on-hover .post .menu-button {
  margin-top: -16px;
}
 #overlay {
  z-index: 900;
}
 /* Quick Reply */
 #qr > div {
  min-width: 240px !important;
}
#qr [type=submit] {
  width: 19%;
}
:root.qr-background #qr > div {
  display: none;
}
#qr input[type=submit] {
  height: 24px !important;
}
#qr:not(.has-captcha) textarea {
  min-height: 115px;
}
#qr .riceCheck, #qr input[type=checkbox] {
  margin: 0px 4px 0;
}
:root.top-header .boardBanner {
  top: 26px;
}
#qr-filename {
  background: none !important;
  border: none !important;
}
#qr-file-button {
  padding-top: 3px;
  padding-bottom: 3px;
}
 .captcha-input.field {
  width:300px;
}
/* Thread Watcher */
:root.threadwatcher-tree #thread-watcher {
  padding: 0px !important;
}
:root.top-header:root.threadwatcher-tree #thread-watcher>div:first-child {
  padding-top: 24px;
}
:root.threadwatcher-tree #thread-watcher>div:first-child {
  display: block;
  text-align: center;
}
:root.threadwatcher-tree #thread-watcher #menu {
  text-align: left;
}
/* Right Sidebar */
:root.right-sidebar:root.threadwatcher-tree.fourchan-x body {
  padding-left: 60px;
}
:root.threadwatcher-tree #watched-threads a:nth-of-type(even):hover::before {
  margin-left: 32px;
}
/* Left Sidebar */
:root.left-sidebar:root.threadwatcher-tree.fourchan-x body {
  padding-right: 62px;
}
:root.left-sidebar:root.threadwatcher-tree #watched-threads a:nth-of-type(even):hover::before {
  margin-left: -24px;
}
/* Bottom Controls */
.bottom-header .bottomCtrl.desktop {
  float: right;
  margin-bottom: 35px;
}
.top-header .bottomCtrl.desktop {
  float: right;
  margin-bottom: 4px;
}
/* Catalog */
.catalog-thread > .comment {
  text-align: justify;
  margin-left: 5px;
  margin-right: 5px;
}
#nav-links {
  margin-bottom: 12px;
}
/* Icons */
.closedIcon,
.stickyIcon {
  color:transparent!important;
  font-size:0!important;
  background-color:transparent!important;
  background-position:center!important;
  background-repeat:no-repeat;
  display:inline-block;
  height:0!important;
  padding-top:16px!important;
  text-indent:-9999px!important;
  vertical-align:bottom;
  width:16px!important;
}
/* Thread Closed */
.closedIcon {
  background-image:url(\"data:image/svg+xml," + $SS.theme.icons.threadClosed + "\")!important;
}
/* Thread Pinned */
.stickyIcon {
  background-image:url(\"data:image/svg+xml," + $SS.theme.icons.threadPinned + "\")!important;
}