/* Side Margins */
body {
  margin-left: " + $SS.conf["Margin Left"] + "px;
  margin-right: " + $SS.conf["Margin Right"] + "px;
  margin-top: 0;
  margin-bottom: 0;
}
/* Fix margin top when fixed top header */
.hasDropDownNav,
:root.show-ads .ad-cnt {
  margin-top: auto !important;
}
/* Replies */
.postInfo {
  padding: 4px 12px 2px;
  display: block !important;
}
.closed {
  text-align: center;
}
.useremail::before {
  margin-bottom: -20px;
  display: inline-block;
}
.summary {
  margin-left: 2px;
}
.expanded-image {
  position: relative;
}
.fileThumb img {
  border-radius: 2px;
}
:root.expand-cover #qr {
  z-index: 11 !important;
}
:root.expand-cover .expanded-image {
  z-index: 9 !important;
}
:root.force-op .op::after {
  clear:both;
  content:'';
  display:block;
}
.thread>.replyContainer,
.threadContainer>.replyContainer {
  margin-bottom:" + $SS.conf["Margin Between Replies"] + "px !important;
}
.postInfo + .inline {
  margin-left: 20px !important;
}
.inline .op>.postInfo,
#qp .op>.postInfo {
  min-width: 600px;
}
.postMessage {
  margin: " + $SS.conf["Margin Post Message"] + " !important;
}
/* Fit Width option */
:root.reply-fit-width .reply.post {
  display: block !important;
}
:root.reply-fit-width .stub ~ .reply.post {
  display: none !important;
}
.hasInline .inline>.replyContainer:not(.expanded-image):not(.hasInline) .reply.post,
:root.reply-fit-width .reply.post {
  overflow: hidden !important;
}
:root.reply-fit-width .hasInline>.reply.post,
:root.reply-fit-width .expanded-image>.reply.post {
  overflow: visible !important;
}
:root.reply-fit-width .expanded-image>.post::after,
:root.reply-fit-width .hasInline>.reply.post::after {
  clear:both !important;
  content:'' !important;
  display:block !important;
}
.threadContainer .hide-reply-button {
  margin-left: -12px !important;
}
:root.reply-hide .thread>.expanded-image>.reply,
:root.reply-hide .thread>.hasInline>.reply {
   margin-left: 12px !important;
}
/* Quote Threading */
.threadContainer {
  margin-left: 0 !important;
  padding-left: 20px!important;
}
:root.reply-hide .thread>.threadContainer {
   margin-left: 13px !important;
}
/* Style Post Info option */
:root.post-info .reply>.postInfo {
  box-shadow: inset rgba(0,0,0,.05) 0 -1px 2px;
  padding-top: 2px !important;
}
/* Backlinks */
:root.backlink-bottom .post {
  position: relative;
  padding-bottom: 2px;
}
:root.backlink-bottom .container {
  position:absolute;
  bottom:2px;
  right:6px;
}
/* Menu button */
:root.reply-fit-width .reply .container {
  padding-right: 5px;
}
.container,
.reply>.postInfo>.menu-button + .container:not(:empty) {
  margin-left: -2px !important;
}
:root:not(.reply-fit-width) .container {
  margin-left: 0 !important;
}
:root.reply-fit-width .post .menu-button {
  float: right;
  margin-left: 0;
  position: relative;
  left: 5px;
}
:root.reply-fit-width .post .menu-button {
  opacity: 0;
}
:root.reply-fit-width .post:not(:hover) .menu-button {
  transition: opacity .3s ease-out 0s !important;
}
:root.reply-fit-width .post:hover .menu-button {
  opacity: 1;
  transition: opacity .3s ease-in .1s !important;
}
/* Code Tags */
.prettyprint {
  padding: 5px !important;
  display: inline-block;
  max-height: 400px;
  overflow-x: auto;
  max-width: 100%;
  vertical-align:middle;
}
/* Checkboxes */
input[type=checkbox],
input[type=submit],
.riceCheck {
  cursor: pointer;
}
input[type=checkbox],
.riceCheck {
  display: inline-block;
  height: 10px !important;
  position: relative;
  width: 10px!important;
  border-radius: 2px!important;
}
.riceCheck {
  margin: 2px 3px 0 0; 
}
#qr .riceCheck,
#qr input[type=checkbox] {
  margin: 3px 4px 0 !important;
  vertical-align: baseline;
  position: relative;
  top: 1px;
}
#qr label {
  vertical-align: middle;
}
input[type=checkbox]:checked::before,
input[type=checkbox]:checked+.riceCheck::before {
  content: '';
  display: block;
  height: 8px;
  margin: 1px;
  width: 8px;
}
input[type=checkbox]:checked::before,
input[type=checkbox]:checked+.riceCheck::before {
  background: " + $SS.theme.checkMark.get() + " !important;
}
/* Header */
#header-bar {
  padding: 4px 4px 5px !important;
}
:root.header-shadow #header-bar {
  box-shadow: none !important;
}
/* Reposition things based on Header position */
:root:not(.fixed) #header-bar {
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid;
}
:root.index.bottom:not(.autohide) body {
  padding-bottom: 4em !important;
}
:root.autohide body {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
:root:not(.fixed).right-sidebar #header-bar {
  right: 300px;
}
:root:not(.fixed).left-sidebar #header-bar {
  left: 300px;
}
#full-board-list>a, 
.navSmall>a {
  margin-left: 2px;
}
:root.fixed:not(.autohide):not(.bottom) #globalMessage {
margin-bottom: 20px !important;
}
.globalMessage, h2, h3 {
  margin: auto;
}
/* QR link */
.qr-link {
  border-radius: 3px;
  vertical-align: middle;
  padding: 7px 12px 6px;
}
/* Quick Reply */
#qr {
  box-shadow: none !important;
}
#qr .close {
  padding: 2px 3px 2px 4px !important;
}
#qr input[type='submit'] {
  height: 22px !important;
  margin-top: 1px;
}
:root.vertical-qr #qr {
  position: fixed !important;
  right: 0!important;
  bottom: 26px;
  left: auto !important;
  top: auto !important;
}
:root.vertical-qr #qr.autohide:not(:hover):not(.has-focus) {
  position: fixed !important;
  transform: rotate(-90deg);
  transform-origin: bottom right;
  -webkit-transform: rotate(-90deg);
  -webkit-transform-origin: bottom right;
  right: 0 !important;
  bottom: 300px !important;
  min-width: 240px !important;
  width: 240px !important;
}
:root.vertical-qr #qr.autohide:not(:hover):not(.has-focus) select {
  max-width: 120px !important;
}
:root.vertical-qr.left-sidebar #qr.autohide:not(:hover):not(.has-focus) {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  left: -244px !important;
  bottom: 50px !important;
  right: auto !important;
}
:root.left-sidebar #qr {
  left: 0 !important;
  right: auto !important;
}
:root.right-sidebar #qr {
  right: 0 !important;
  left: auto !important;
}
:root.fade-qr #qr form {
  display: block !important;
}
:root.fade-qr #qr.autohide:not(.has-focus):not(:hover) {
  opacity: 0.2 !important;
  transition:opacity .2s ease-in-out 1s;
}
:root.expand-inputs .persona .field {
  transition: width ease-in-out 1s, max-width ease-in-out 1s;
}
:root.expand-inputs .persona .field:focus {
  position: absolute;
  right: 2px;
  left: 2px;
  width: 99% !important;
  min-width: 99% !important;
  transition: width ease-in-out 1s, max-width ease-in-out 1s;
}
#qr:not(.has-captcha) textarea {
  min-height: 190px !important;
}
:root.webkit #qr:not(.has-captcha) textarea {
  min-height: 185px !important;
}
:root.webkit #qr.has-captcha textarea.field {
  height: 8.6em;
  min-height: 0.6em !important;
}
:root.qr-background #qr {
  background: transparent !important;
  border: none;
}
:root.qr-controls #qr label,
:root.qr-controls #qr .close {
  display: none;
}
/* Delete form */
div[style='float: right;'] {
  float: none !important;
  margin-left: 10px;
}
/* HRs */
hr {
  height: 2px;
  width: 600px;
  border: none !important;
}
:root.reply-fit-width #unread-line {
  margin: auto;
  width: 100%;
}
#unread-line {
  margin-top: -3px !important;
  margin-bottom: -3px !important;
}
/* Board Title */
.boardBanner .boardTitle {
  cursor:default;
  letter-spacing:-2px;
}
/* Banner */
#bannerCnt {
border: 0 !important;
margin: 0 auto;
width: 300px;
max-height: 100px !important;
max-width: 100%;
}
.boardBanner {
  width: 300px;
  margin: auto;
}
.boardBanner>img {
  border: none !important;
}
:root.banner-opacity #bannerCnt {
  opacity: 0.5;
  transition: opacity .3s ease-out 0s;
}
:root.banner-opacity #bannerCnt:hover {
  opacity: 1.0 !important;
  transition: opacity .3s ease-in 0s;
}
/* Pages */
.pages strong>a {
  border-radius: 3px;
}
.pages strong>a:hover {
  opacity: 0.7 !important;
  transition: opacity .3s ease-in 0s;
}
.pagelist.desktop {
  margin-left: 18px;
}
:root.reply-fit-width .pagelist {
  margin-left: 0;
}
.pages a {
  padding: 5px 10px;
  margin-left: -1px;
}
.next,
.prev {
  border: none !important;
  position: relative; 
}
.next a,
.prev a {
  position: relative;
  right: 5px;
}
.prev a::after {
  content: '<';
  position: inherit;
  top: 4px;
  left: 1px;
}
.next a::after {
  content: '>';
  position: inherit;
  top: 4px;
  right: 2px;
}
.pagelist button,
.pagelist button:hover {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
  height: 20px;
  width: 20px;
}
.pagelist span {
  opacity: 0.2;
}
/* Catalog Link */
.cataloglink {
  margin-left: 12px;
  border-radius: 3px;
}
.cataloglink a {
  color: " + $SS.theme.textColor.hex + " !important;
  font-weight: bold;
}
.cataloglink a:hover {
  color: " + $SS.theme.textColor.hex + " !important;
  opacity: 0.7 !important;
  transition: opacity .3s ease-in 0s;
}
/* /f/ */
table.flashListing {
  margin: auto !important;
}
table.flashListing .highlightPost {
  background: rgb\(" + $SS.theme.mainColor.shiftRGB(-25) + ") !important;
}
.flashListing > tbody {
  padding-top: 200px;
}
.flashListing td {
  padding-left: 4px !important;
  padding-right: 4px !important;
  text-align: center !important;
}
#delform[action='https://sys.4chan.org/f/up.php'], #delform[action='https://sys.4chan.org/f/up.php'] .postblock {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
/* Mascot */
#mascot img, 
#mascotprev img {
  position:fixed;
  z-index:2;
  right: 0;
  bottom: 0;
}
#mascot img {
  margin-bottom:" + $SS.mascot.offset + "px;
  margin-right:" + $SS.mascot.hoffset + "px;
  height:" + $SS.mascot.height + ";
  width:" + $SS.mascot.width + ";
  transform: " + $SS.mascot.flip + ";
  pointer-events: none;
}
:root.left-sidebar #mascot img,
:root.left-sidebar #mascotprev img {
  margin-left: " + $SS.mascot.hoffset + "px;
  margin-right: 0 !important;
}
#mascotprev img {
  z-index: 90 !important;
}
#mascot.previewing img {
  display: none;
}
#delform {
  position: relative;
}
:root:not(.left-sidebar):not(.right-sidebar) #delform {
  z-index: 3;
}
:root.left-sidebar #mascot img,
:root.left-sidebar #mascotprev img {
  left: 0;
  right: auto !important;
}
:root.mascot-opacity #mascot img,
:root.mascot-opacity #mascotprev img {
  opacity: 0.5;
  transition: opacity .3s ease-out 0s;
}
:root.mascot-opacity #mascot img:hover,
:root.mascot-opacity #mascotprev img:hover {
  opacity: 1.0 !important;
  transition: opacity .3s ease-in 0s;
}
/* Ads */
:root.ad-opacity .center img {
  opacity: 0.5;
  transition: opacity .3s ease-out 0s;
}
:root.ad-opacity .center img:hover {
  opacity: 1.0 !important;
  transition: opacity .3s ease-in 0s;
}
/* Navlinks */
:root.index div.navLinks {
  padding: 5px;
  margin-left: auto;
  margin-top: auto;
}
.navLinks.navLinksBot.desktop {
  margin-top: 10px;
  margin-bottom: 5px;
}
#hoverUI {
  z-index: 12 !important;
}
#search-box, 
#index-search {
  width: 6%;
  transition: color .25s, border-color .25s, width .25s;
}
#search-box:focus, 
#index-search:focus {
  width: 12%;
  transition: color .25s, border-color .25s, width .25s;
}
/* Thumb Opacity */
:root.thumb-opacity .fileThumb {
  opacity: 0.5;
  transition: opacity .3s ease-out 0s;
}
:root.thumb-opacity .fileThumb:hover {
  opacity: 1.0;
  transition: opacity .3s ease-in 0s;
}