/* Fail-safe */
#OneeChanCont {
  font-size: 0 !important;
  padding: 6px !important;
  margin-right: 0 !important;
  opacity: 0.6 !important;
  position: relative;
  bottom: 5px;
  float: right;
  background-image: url(\"data:image/svg+xml," + $SS.theme.icons.OneeChan + "\") !important;
}
#OneeChanCont:hover {
  opacity: 1 !important;
}
/* Thread watcher favicon */
.watch-thread-link {
  margin-bottom: -7px;
  margin-right: 2px;
  top: auto !important;
  bottom: 4px !important;
  background-image: url(\"data:image/svg+xml," + $SS.theme.icons.star + "\") !important;
}
/* Backlinks */
:root.backlink-icon .backlink {
  background-image: url(\"data:image/svg+xml," + $SS.theme.icons.backlink + "\") !important;
  font-size: 0 !important;
  padding: 6px !important;
  margin-right: 0 !important;
  opacity: 0.6 !important;
  position: relative;
  bottom: 5px;
  left: 2px;
}
:root.backlink-icon .backlink.inlined {
  background-image: url(\"data:image/svg+xml," + $SS.theme.icons.downArrow + "\") !important;
  font-size: 0 !important;
  padding: 6px !important;
  margin-right: 0 !important;
  opacity: 0.6 !important;
  position: relative;
  bottom: 5px;
  left: 4px;
}
:root.backlink-icon .reply .backlink {
  bottom: 6px !important;
}
:root.backlink-icon .backlink:hover,
:root.backlink-icon .backlink.inlined:hover {
  opacity: 1 !important;
}
/* From 4chanSS */
/* https://github.com/ahodesuka/4chan-Style-Script/blob/master/LICENSE */
img[alt=Closed],
img[alt=Sticky] {
  color:transparent!important;
  font-size:0!important;
  background-color:transparent!important;
  background-position:center!important;
  background-repeat:no-repeat;
  display:inline-block;
  height:0!important;
  padding-top:16px!important;
  text-indent:-9999px!important;
  vertical-align:bottom;
  width:16px!important;
}
/* Thread Closed */
img[alt=Closed] {
  background-image:url(\"data:image/svg+xml," + $SS.theme.icons.threadClosed + "\")!important;
}
/* Thread Pinned */
img[alt=Sticky] {
  background-image:url(\"data:image/svg+xml," + $SS.theme.icons.threadPinned + "\")!important;
}