:root.threadwatcher-fixed #thread-watcher {
  position: fixed !important;
}
/* Sidebar General Styling */
:root.threadwatcher-tree #thread-watcher {
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  max-width: 52px !important;
  position: fixed !important;
  padding-top: inherit !important;
  padding-bottom: inherit !important;
  overflow: visible !important;
  white-space: nowrap;
  z-index: 9 !important;
  box-shadow: none !important;
  min-width: 13px;
  min-height: 100% !important;
  display: block !important;
  word-spacing: -2px; 
}
:root.threadwatcher-tree.fourchan-x body {
  padding-left: 56px;
}
:root.threadwatcher-tree #watcher-link {
	display: none !important;
}
:root.threadwatcher-tree #thread-watcher .move {
  font-size: 11px;
  overflow: hidden;
  white-space: normal;
  word-spacing: -2px;
  text-align: center;
  cursor: auto !important;
}
:root.threadwatcher-tree #thread-watcher .close {
  display: none !important;
}
/* Right Sidebar */
:root.right-sidebar:root.threadwatcher-tree.fourchan-x body {
  padding-left: 56px;
}
:root.right-sidebar:root.threadwatcher-tree #thread-watcher {
  left: 0 !important;
  padding-left: 0 !important;
}
/* Left Sidebar */
:root.left-sidebar:root.threadwatcher-tree.fourchan-x body {
  padding-right: 58px;
}
:root.left-sidebar:root.threadwatcher-tree #thread-watcher {
  left: auto !important;
  right: 0 !important;
}
/* Left Sidebar X button */
:root.left-sidebar:root.threadwatcher-tree #watched-threads a:nth-of-type(odd)::before {
  float: right;
}
/* Watched Threads */
:root.threadwatcher-tree #watched-threads {
  line-height: 20px;
}
/* Tooltip */
:root.threadwatcher-tree #watched-threads a:nth-of-type(even):hover::after {
  content: attr(title);
  left: 100%;
  margin-left: 9px;
  position: absolute;
  padding: 5px;
  margin-top: -7px;
  font-size: 14px;
  color: " + $SS.theme.linkColor.hex + ";
  background: " + $SS.theme.mainColor.hex + ";
  border: 2px solid " + $SS.theme.headerLColor.hex + ";
  border-radius: 3px;
}
:root.left-sidebar:root.threadwatcher-tree #watched-threads a:nth-of-type(even):hover::after {
  left: auto !important;
  right: 100% !important;
  margin-right: 9px;
}
/* Arrow */
:root.threadwatcher-tree #watched-threads a:nth-of-type(even):hover::before {
  content: '';
  position: absolute;
  margin-left: 26px;
  border: 10px solid " + $SS.theme.headerLColor.hex + ";
  border-color: transparent " + $SS.theme.headerLColor.hex + " transparent transparent;
}
:root.left-sidebar:root.threadwatcher-tree #watched-threads a:nth-of-type(even):hover::before {
  border-color: transparent transparent transparent " + $SS.theme.headerLColor.hex + ";
  margin-left: -15px;
}